.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
.image1{
	object-fit:cover;
	height:70%;
	width:100%;
}
.explore{
	padding:10px;
	margin:10px;
}
.button{
	background-color:red;
	color:white;
	border-radius:2px solid red;
	border:2px solid red;
}